 
<!-- 接收'index'页面传过来的'@users'数组变量，直接循环显示（即：单个变量为user） -->

 <li>
	<%= gravatar_for user, size: 52 %>
	<%= link_to user.name, user %>

	<!-- 只有管理员可以看到删除链接，且管理员不能看到自己的删除链接 -->
	<!-- 判断：1.当前用户是否为管理员；2.循环到的user是否为当前用户 -->
	<% if current_user.admin? && !current_user?(user) %>
	  | <%= link_to 'delete', user, method: :delete, data: { confirm:"You sure ?" } %>
	<% end %>
</li>