<% provide(:title, "Edit user") %>

<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">

 	<!-- form_for 完整的形式如下：-->
	<!-- form_for(@user, url: user_path(@user), method: :put) -->
	<%= form_for(@user) do |user| %>

	   <%= render 'fields', f: user %>
	   <%= user.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>

	<%= gravatar_for @user %>
	<a href = "http://gravatar.com/emails" target = "_blank">change</a>
  </div>
</div>
