<% provide(:title, 'All users') %>
<h1>All users</h1>

<!-- 使用分页标记，划分需要分页的内容-->
<!-- 等同于 <div class = "pagination">...... -->
<%= will_paginate %>

<ul class = "users">
   <!--代码重构：直接把'@users'数组变量传递给render，然后在'_user.html.erb'中使用-->
   <%= render @users %>
</ul>

<%= will_paginate %>
