
<!-- 调用页面已经指定了'@microposts'数组为循环变量
	  当前只需要调用其默认定义的'micropost'变量即可 -->

<li>
    <%= render 'microposts/micropost_content', object: micropost %>

	<% if current_user?(micropost.user) %>
		<%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure ?" }, title: micropost.content %>
	<% end %>
</li>